body {
  font-family: 'Sofia Pro', sans-serif;
}

.container-fluid {
  padding: 0;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
    color: white;
  }
}